%aside.AppBanner
  .BannerInner
    %h2.BannerInner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.BannerInner__text
      今すぐ無料ダウンロード！
    .BannerInner__icon
      = link_to "#" do
        = image_tag "app-store.svg", class: "BannerInner__icon"
      = link_to "#" do
        = image_tag "google-play.svg", class: "BannerInner__icon"
