%header
  .HeaderItems
    = link_to image_tag("images/material/logo/logo.png", class: "HeaderLogo"), root_path
    %input.SearchForm{:name => "keyword", :placeholder => "キーワードから探す", :type => "text"}/
    %button.SearchBtn{:name => "btn", :placeholder => "検索", :type => "submit"}
      = image_tag "images/material/icon/icon-search1.png", class: "BtnImage"
  .HeaderInfo
    .ContentGroup
      =link_to "カテゴリー", root_path, class: "Categorie"
      =link_to "ブランド", root_path, class: "Brand"
    .LoginSignin
      -if current_user
        =link_to "マイページ","/users/#{current_user.id}", class: "Mypage"
      -else
        =link_to "ログイン", new_user_session_path, class: "Login"
        =link_to "新規会員登録", new_user_registration_path, class: "Signin"
